body {
    text-align: center;
}
/*
 * Styles for the End of game modal
 */

.modal{
	display:none;
	position:fixed;
	
	z-index:1;
	left:0;
	top:0;
	height:100%;
	width:100%;
}

.modal-content{
	padding:15px;
	margin 20% auto;
	width 50%;
	background-color: red;
}

.modal-content h1{
	text-align: center;
	color:white;
}

.modalBtn{
	background-color: #afceb2;
	cursor:pointer;
}